/*
Theam Name Pearl
Theam URI:http://nbtechnologiesweb.com
Author:Nilakshi
Author URI:http://nbtechnologiesweb.com
Discription:
Version:1.0.0
License:
License URI:
Tages:icon,sidebar,serendib,custom admin options.
Text Domain:serendibtheme

*/